/*bouton explorer restaurants*/
.btn__info {
    @include bouton;
    margin-top: 10px;
    margin-bottom: 30px;

    &:hover {
        @include bouton-hover;
    }

    @include desktop-only {
        font-size: larger;
    }
}


/*bouton commander*/
.btn__commander {
    @include bouton;
    width: 50%;
    margin: auto;
    display: block;

    @include tablet-only {
        width: 30%;
    }

    @include desktop-only {
        width: 20%;
    }

    &:hover {
        @include bouton-hover;
    }
}